a {
    font-weight: bold;
}

header {
    width: 100%;
    height: 60px;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 5;
}

#header_top {
    background-color: whitesmoke;
    box-shadow: none;
}

#header_top:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

#header_top:hover .title {
    opacity: 1;
}

#header_scroll {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

header .portrait {
    width: 33px;
    height: 33px;
    border-radius: 50pt;
    border: 1px solid ghostwhite;
    margin-left: 50px;
}

header .title {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    color: #636363;
    font-size: 1.2em;
    transition: all 0.5s;
}

header #title_top {
    opacity: 0;
}

header #title_scroll {
    opacity: 1;
}

header .nav {
    position: absolute;
    right: 50px;
}

header .nav li {
    list-style: none;
    display: inline-block;
    border-radius: 5pt;
    transition: all 0.3s;
}

header .nav li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header .nav li a {
    text-decoration: none;
    padding: 5px 15px;
}

section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section ._border {
    width: 660px;
    margin: auto;
}

section .author_panel {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

section .author_panel * {
    line-height: 1;
}

section .author_panel h1 {
    font-size: 40px;
    margin: auto 5px;
    white-space: nowrap;
    word-break: keep-all;
}

section .author_panel h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0 5px;
    white-space: nowrap;
    word-break: keep-all;
}

section .author_panel .author_pic {
    width: 40px;
    height: 40px;
    border-radius: 50pt;
    margin: auto 10px;
}

section .nav {
    margin-top: 20px;
    white-space: nowrap;
}

section .nav li {
    list-style: none;
    display: inline-block;
    background-color: white;
    border-radius: 5pt;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
    margin: auto 3px;
}

section .nav li:hover {
    box-shadow: #C7C7C7 0 7px 15px;
}

section .nav li a {
    text-decoration: none;
    padding: 2px 30px;
    line-height: 2;
}

section .container {
    margin-top: 30px;
}

section .container li {
    list-style: none;
    margin: 20px auto;
    transition: all 0.5s;
}

section .container li:hover {
    /*box-shadow: #C7C7C7 0 7px 20px;*/
}

section .container a {
    text-decoration: none;
}

section #go_top {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 45px;
    right: 45px;
    color: #BDBDBD;
    cursor: pointer;
    transition: all 0.5s;
}

section #go_top:hover {
    box-shadow: #C7C7C7 0 7px 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .copyright {
    color: #BDBDBD;
    margin-bottom: 100px;
    user-select:none
}

/*
 *  only_word
 */
section .container .only_word {
    background-color: white;
    padding: 25px 25px 25px 30px;
    border-radius: 5pt;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

section .container .only_word h2 {
    color: #636363;
    font-weight: 300;
}

section .container .only_word ._end {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

section .container .only_word ._end * {
    margin-right: 10px;
}

/*
 *  article_with_img
 */
section .container .article_with_img {
    background-color: white;
    padding: 25px 25px 25px 30px;
    border-radius: 5pt;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
}

section .container .article_with_img ._img_panel {
    width: 100px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #EEE solid 1px;
    border-radius: 5pt;
    padding: 0 50px;
}

section .container .article_with_img ._img_panel img {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0 7px 15px #C7C7C7);
}

section .container .article_with_img .article_content {
    margin: auto 35px;
}

section .container .article_with_img .article_content h2 {
    color: #636363;
    font-weight: 600;
    line-height: 1.6;
}

section .container .article_with_img .article_content .tag_list {
    margin-top: -15px;
    margin-bottom: -15px;
}

section .container .article_with_img .article_content .tag {
    display: inline-block;
    padding: 1px 15px;
    border-radius: 25pt;
}

section .container .article_with_img .article_content ._end {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

section .container .article_with_img .article_content ._end * {
    margin-right: 10px;
}

/*
 *  article_without_img
 */
section .container .article_without_img {
    background-color: white;
    padding: 25px 25px 25px 30px;
    border-radius: 5pt;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

section .container .article_without_img h2 {
    color: #636363;
    font-weight: 600;
}

section .container .article_without_img .tag_list {
    margin-top: -15px;
    margin-bottom: -15px;
}

section .container .article_without_img .tag {
    display: inline-block;
    padding: 0 15px;
    border-radius: 25pt;
}

section .container .article_without_img ._end {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

section .container .article_without_img ._end * {
    margin-right: 10px;
}